.btn {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background-color: #fcfcfc;
  border: 1px solid $gray;
  border-radius: 12px;
  cursor: pointer;
  transition: all ease 0.4s;
  &:hover {
    color: $white;
    background-color: $primary;
    border-color: $primary;
  }
  &--text {
    border: none;
  }
}

@each $key, $value in $themes {
  .btn-#{$key} {
    color: $white;
    background-color: $value;
    border-color: $value;
    box-shadow: 0 4px 6px #aaa;
  }
}