.calendar {
  // 日曆按鈕
  &-switch-btn {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/img/btn_calendar.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70%;
    border: none;
    cursor: pointer;
  }
  // 箭頭按鈕
  &-arrow-btn {
    width: 24px;
    height: 24px;
    position: relative;
    background-color: #aaa;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    &__prev::after, &__next::after {
      width: 7px;
      height: 10px;
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #000;
      clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    }
    &__next::after {
      clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    }
  }
  // 關閉按鈕
  &-close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  // 陰影
  &-shadow {
    box-shadow: 0 4px 4px #ddd;
  }
}